In [ ]:
# Name: Oluwadeyi Ayobami
# File_name: Zoo.ipynb
# Description: contains a function hours that prints 'open 9-5 daily'

In [ ]:
#11.1

In [7]:
def hours():
    ''' prints open 9-5 daily '''
    print('Open 9-5 daily')

In [4]:
#11.2

In [1]:
#imports zoo with the alias menagerie
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [2]:
#16.8

In [9]:
import sqlalchemy as sa
from sqlalchemy.sql import text

# Create an in-memory SQLite database engine
engine = sa.create_engine('sqlite://')

# Create a connection from the engine
connection = engine.connect()

# Create a table 'book' with columns 'title', 'author', and 'year'
connection.execute(text('CREATE TABLE book (title TEXT, author TEXT, year INT)'))

# Insert data into the 'book' table
connection.execute(text('INSERT INTO book (title, author, year) VALUES (:title, :author, :year)'),
                   {'title': 'wormwood', 'author': 'oludeyi', 'year': 2002})

# Execute a query to select the 'title' column from the 'book' table
result = connection.execute(text('SELECT title FROM book ORDER BY title'))

# Print the titles
for row in result:
    print(row[0])

# Close the connection
connection.close()

wormwood